:root {
  --color-primary: #471396;
  --color-secondary: #b13bff;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

#banner {
  background-image: url("./Assets/banner-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 400px; 
}

#banner::after {
  content: "";
  position: absolute;
  inset: 0; 
  background-color: rgba(0, 0, 0, 0.5);
}

.active-nav {
  color: var(--color-secondary);
  font-weight: 600;
}

.allProductsBtn.active,
.category-btn.active {
  background-color: var(--color-primary);
  color: white;
  border-color: var(--color-primary);
}
