@import "tailwindcss";

@theme {
  --color-primary: #471396;
  --color-secondary: #b13bff;
}

body {
  font-family: "Poppins", sans-serif;
}

#banner {
  background-image: url("../assets/banner-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
}
#banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay */
}